body{
    margin: 0px !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1{
    margin: 0px !important;
}

h4{
    margin-bottom: 1px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field{
    padding-left: 15px;
}

.save-button{
    max-height: 30px;
}

th{
    padding-left: 10px;
}
td{
    padding-left: 10px;
}
